.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: cadetblue;
}

.checkbox-align {
    justify-content: left;
}

.design {
    height: 10px;
    width: 300px;
    line-height: 100px;
    max-height: 2000px;
}

.myButton {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
